#tags {
  display: none;
}

.PageWrapper{
  width: 600px;
  margin: 0 auto;
}
.ExtPage .form-control{
  border-radius: 0px !important;
  box-shadow: none !important;
}
.ExPageHeading{
  background: #34495e;
  padding: 10px;
}
.ExPageHeading h1{
  margin: 0px;
  padding:0px;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  line-height: 40px;
}
.ExPageBody{
  padding: 10px;
  background: #fff;
}
.text-red{
  color: #f00;
}
.alert-danger{
  background: #d8d8d8;
  border: none;
  border-radius: 0px;
  color: #868686;
  font-size: 12px;
  padding: 10px;
  position: relative;
}
.btn-success{
  background: #27ae60;
}
.btn-primary{
  background: #3498db;
  border-color: #3498db;
}
.sm-top10{
  margin-top: 10px;
}
.btn-block{
  margin: 10px 0;
}
.btn{
  border-radius: 0px;
}
.signed-in .btn{
  color: #ffe400;
  padding-right: 0px;
}
.signed-in .btn i{
  position: relative;
  top:2px;
}
.not-signed-in .btn{
  color: #00ff53;
  padding-right: 0px;
  background: none;
  border:0px;
}
.not-signed-in .btn i{
  position: relative;
  top:2px;
}
.MyList{
  margin: 10px 0;
  padding: 0px;
  list-style: none;
}
.MyListDropdown{
    padding: 0px;
    list-style: none;
    z-index: 9;
    background: #fff;
    width: 100%;
    max-height: 100px;
    position: absolute;
    overflow-y: auto;
}
.MyListDropdown li{
    padding: 6px 7px;
    border: 1px solid #eaeaea;
    border-bottom: none;
    margin-right: 5px;
    width: 100%;
}
.MyList li{
  float: left;
  padding: 3px 7px;
  border:1px solid #eaeaea;
  margin-right: 5px;
  border-radius: 2px;
}
.MyList:after{
  clear: both;
  content: '';
  display: block;
}

.arrow-up:before{
    position: absolute;
    top: -21px;
    left: 50%;
    color: #d8d8d8;
    font-size: 37px;
    margin-left: -16px;
    width: 30px;
    font-family: 'Material-Design-Iconic-Font';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f2f8';
}
.arrow-down:before{
    position: absolute;
    bottom: -23px;
    left: 50%;
    color: #d8d8d8;
    font-size: 37px;
    margin-left: -16px;
    width: 30px;
    font-family: 'Material-Design-Iconic-Font';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f2f2';
}
.sm-bottom0{
  margin-bottom: 0px;
}
.zmdi{
    font-size: 16px;
}
  .form-group{
      position: relative;
  }

